/* p{
    font-size: 16px;
    font-size: 100%;
    font-size: 200%;
    font-size: 300%;
} */

div{
    border: 2px solid red;
    font-size: 20px;
    width: 50%;
}
p{
    border: 1px solid greenyellow;
    width: 50%;
    font-size: 100%;
    background-color: thistle;
    margin: 10px auto;
    /* margin-left: 25% */
    text-align: center;
}